 nav{
  display: flex;
  justify-content: space-between;
  line-height: 72px;

 }

.navigation ul{
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0px 8px;
  font-weight: 500;

}

.navigation ul li a{
  color: #000;
  font-size: 1.2rem;
  background-color: transparent;
  transition:all 0.5s linear;
}

.navigation ul li a:hover{
  background-color: #1c9393;
  padding: 10px;
  border-radius: 9px;
  color: white;
   transform: scale(3);
}

 .logo  img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 10px;
 }